h2 {
  text-align: center;
}

.personagens {
  margin: auto;
  padding: 0;
  width: 15em;
  list-style-type: none;

  li {
    display: flex;

    &:hover {
    left: .1em;
    }
  }

  a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;

    &:hover {
      color: #fafafa;
      background-color: #369;
      }

    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }

  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}

.novo-personagem {
  margin: auto;
  margin-top: 14px;
  padding: 0;
  width: 15em;

  a {
    color: #333;
    text-align: center;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .8em 0;
    height: 1.6em;
    border-radius: 15px;
    display: block;
    width: 90%;

    &:hover {
      color: #fafafa;
      background-color: #42545C;
      }

    &:active {
      color: #fafafa;
      background-color: #525252;
    }
  }
}
