button {
  margin-top: 10px;
  margin-left: 8px;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  color: white;
  background-color: #42545C;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
