<div *ngIf="personagem">
  <div *ngIf="personagem.titulo == ''">
    <h2>Detalhes de {{ personagem.nome_personagem | uppercase }}</h2>
  </div>
  <div *ngIf="personagem.titulo">
    <h2>Detalhes de {{ personagem.nome_personagem | uppercase }}, {{ personagem.titulo }}</h2>
  </div>
  <div>Nome: {{ personagem.nome_personagem}}</div>
  <div>ID: {{ personagem.id_personagem }}</div>
  <div>Nível: {{ personagem.nivel }}</div>
  <div>Experiencia: {{ personagem.experiencia }}</div>
  <button type="button" (click)="goBack()">Voltar</button>
  <a routerLink="/personagens/{{ personagem.id_personagem }}/editar">
    <button type="button">Editar</button>
  </a>
</div>
